* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /*COLORS*/
  --main-font-color: #303030;
  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);

  /*FONTS*/

  --main-font: 'Poppins', sans-serif;

}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  /*z-index: -999999;*/
}

body {
  font-size: 1.6rem;
  background-color: rgb(226, 237, 211);
}

body * {
  font-family: var(--main-font);
  color: var(--main-font-color);
}

#app {
  max-width: 50rem;

  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: .4rem 0 0 .4rem;
  padding: 0 .8rem;
}


.searchBar button {
  height: 3.2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 .4rem .4rem 0;
  padding: 0 1rem;
}

.searchBar button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

table {
  width: 100%;
}

table * {
  font-size: 1.4rem;
  color: var(--main-font-color);
}


