* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*Default value for font-size on web browsers is 16px. This makes it 10px, so rem can be used normally*/

  /*COLORS*/
  --main-font-color: #303030;
  --hue: 147;
  --primary-color: hsl(var(--hue), 100%, 63%);
  --table-even: hsl(var(--hue), 89%, 79%);
  --background-main: rgb(226, 237, 211);

  /*FONTS*/

  --main-font: 'Poppins', sans-serif;

}

 .srOnly { /*screen reader only */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  /*z-index: -999999;*/
}

body {
  font-size: 1.6rem;
  background-color: var(--background-main);
}

body * {
  font-family: var(--main-font);
  color: var(--main-font-color);
}

#app {
  max-width: 50rem;

  margin: 0 auto; /*unecessary*/
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 0 0 2rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: .4rem 0 0 .4rem;
  padding: 0 .8rem;
}


.searchBar button {
  height: 3.2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 .4rem .4rem 0;
  padding: 0 1rem;
}

.searchBar button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0.25rem 0.25rem 1rem;
}

table * {
  font-size: 1.4rem;
  color: var(--main-font-color);
}

table th {
  background: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: 0.4rem;
}

table tr th {
  font-weight: bold;
  text-align: center;
}

table th:last-child {
  border-top-right-radius: 0.4rem;
}

table td {
  padding: 1.5rem;
  text-align: center;
}

table tr:nth-child(odd) {
  background: var(--background-main);
}

table tr:nth-child(odd) .remove {
  background: var(--table-even);
}

table tr:nth-child(even) {
  background: var(--table-even);
}

table tr:nth-child(even) .remove {
  background: var(--background-main);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.4rem;
}

table tr:last-child td:last-child{
  border-bottom-right-radius: 0.4rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  border: 1px solid #000;
  border-radius: 25%;
  padding: 0.1rem 0.30rem;
  cursor: pointer;
}


